body {
    background-color: #ffffff;
    font-family: 'Abel', sans-serif;



}

#container {
    background-color: transparent;
    width: 80%;
    padding: 20px;
    margin: auto;
}

#nav {
    text-align: center;
    
}
header h1 {

    text-align: center;
    font-size: 30px;
}

nav ul {
    list-style: none;
    text-align: center;
    display: inline;


}

nav li {
    display: inline-block;
    text-align: center;
    font: 16px;
    padding-right: 30px;


}

P { text-align: center }

H2 { text-align: center }


nav a {
    color: gray;
    text-decoration: none;

}

a:link {
    color: gray;

}

a:visited {
    color: gray;

}

a:hover {
    font-weight: bold;

}

a:active {
color: black;

}